body {
  margin: auto;
}

.background {
  display: block;
  width: 1000px;
  height: 400px;
  background-size: cover;
  position: relative;
  margin: 0;
  border: 0;
  background-repeat: no-repeat;    
}

.h1 h2 {
  text-align: center;
  vertical-align: bottom;
}


.bekezdes1 {
  margin-top: 0px;
}

blockquote::before {
  content: '”';
}